

.column {
    width: 33%;
}

.sendbuttons {

    margin-left: auto;
    margin-right: auto;

}

form {
    background-color: #213b50;
    color: white;
    padding: 20px;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

label {

    display: block;

}

label[for="agreement"]{

    display: inline;
}

input:focus,
select:focus,
textarea:focus {

    background-color: #4e708c;
    border: 1px solid white ;

}

input,
select,
textarea {

    background-color: #2b4a64;
    color: white;
    width:45%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;

}

input[type="radio"],
input[type="checkbox"] {

    width: auto;
}


input[type="submit"] {

    background-color: #1ac056;
    width: auto;
    cursor: pointer;
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;
    
}


input[type="submit"]:hover {

    background-color: #46e881;
    
}

input[type="description"] {

    background-color: #ff0000;
}

