

.column {
    width: 33%;
}

.sendbuttons {

    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

#description {

    background-color: #2b4a64;
    min-height: 20%;
    min-width: 75%;
    
}

form {
    background-color: #213b50;
    color: white;
    padding: 20px;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

label {

    display: block;

}

label[for="agreement"]{

    display: inline;
}


input:focus,
select:focus,
textarea:focus {

    background-color: #4e708c;
    border: 1px solid white ;

}

input,
select,
textarea {

    background-color: #2b4a64;
    color: white;
    width:45%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;

}

input[type="radio"],
input[type="checkbox"] {

    width: auto;
}


input[type="submit"] {

    background-color: #05004d54;
    width: auto;
    cursor: pointer;
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;
    
}


input[type="submit"]:hover {

    background-color: #05004d54;
    
}



